
<header class="header">
  <div class="container container--flex">
    <div class="header__logo">Movie-site</div>
    <div class="nav">
      <a class="nav__link link" routerLink="page-top" routerLinkActive="active">Top-20</a>
      <a class="nav__link link" routerLink="page-chronology" routerLinkActive="active">Chronology</a>
      <a class="nav__link link" routerLink="page-favorite" routerLinkActive="active">Favorites</a>
    </div>
  </div>
</header>

<div class="container site-content">
  <router-outlet></router-outlet>
</div>

<router-outlet name="preview-trailer"></router-outlet>
